DB_NAME=string
DB_USER=string
DB_PASSWORD=string
DB_HOST=string
DB_PORT=int
REDIS_HOST=string
REDIS_PORT=int
SENDGRID_API_KEY=string
DEFAULT_FROM_EMAIL=string
PASSWORD_RESET_TEMPLATE_ID=string
REGISTRATION_CONFIRMATION_TEMPLATE_ID=string